<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">

<h2>Password Generator</h2>

<form action={% url 'password' %}>
    <select name="length" id="">
        <option value="6">Number 6</option>
        <option value="7">Number 7</option>
        <option value="8">Number 8</option>
        <option value="9">Number 9</option>
        <option value="10">Number 10</option>
        <option value="11">Number 11</option>
        <option value="12" selected='selected'>Number 12</option>
        <option value="13">Number 13</option>
        <option value="14">Number 14</option>
    </select> length
    <br>
    <input type="checkbox" name="uppercase">Uppercase
    <br>
    <input type="checkbox" name="numbers">Numbers
    <br>
    <input type="checkbox" name="special">Special Characters
    <br>
    <input type="submit" value="Generate Password" class="btn btn-primary">
</form>

<a href="{% url 'about' %} ">about</a>

</div>